body {
    font-size: $font_base; 
}

.myNav {
    background-color: firebrick;
    height: $heightNav;
    
    h1{
        padding-left: 10px;
        font-size: 1.2em;
    }

    .menu {
        height: $heightNav;
        background-color: hotpink;
    }
    .loupe{
        height: $heightNav;
        background-color: blueviolet;

        i{
            text-align: center;
        }
    }

}